@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iCielGotham-Medium';
    src: url('./fonts/iCielGotham-Medium.ttf');
}

body {
    margin: 0;
    font-family: 'iCielGotham-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
